html.js .w3c_validator-wrapper.collapsed .fieldset-wrapper {
  display: none;
}

/* Expand/collapse image for page title */
html.js .w3c_validator-wrapper .page-title {
  background: url("../images/menu-expanded.png") left 65% no-repeat;
  padding-left: 10px;
}

html.js .w3c_validator-wrapper.collapsed .page-title {
  background: url("../images/menu-collapsed.png") left 50% no-repeat;
}

html.js .w3c_validator-wrapper .page-title a {
  margin-left: -10px;
  padding-left: 10px;
}

.w3c_analysis-results h2.title {
  color: white !important;
  margin: 0px;
  text-align: center;
}
.w3c_analysis-results h2.title.invalid {
  background-color: #D23D24 !important;
}
.w3c_analysis-results h2.title.valid {
  background-color: #55B05A !important;
}
.w3c_validator-wrapper .page {
  font-size: 1.2em;
}
.w3c_validator-wrapper .page-title {
  width: 70%;
  display: inline-block;
}
.w3c_validator-wrapper .page-infos .page-errors {
  margin-right: 6px;
}
.w3c_validator-wrapper .page-infos.page-unknown {
  font-style: italic;
}
.w3c_validator-wrapper .page-infos .page-errors:after {
  content: ',';
}
.w3c_validator-wrapper .page-result {
  float: right;
  font-size: 1.2em;
  font-weight: bold;
}
.w3c_validator-wrapper .page-result .error {
  color: #D23D24;
}
.w3c_validator-wrapper .page-result .valid {
  color: #55B05A;
}
.w3c_validator-wrapper .page-result .warning {
  color: #CFAC08;
}
.w3c_validator-wrapper .page-result .outdated {
  color: #c4c1b2;
  font-style: italic;
}
.w3c_analysis-results .summary-table {
  margin-top: -2px;
}
.w3c_validator-report .page-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-bottom: -3px;
  margin-right: 8px;
}
.w3c_validator-report tr.unknown .page-icon {
  background-image: url(../images/info-icon.png);
}
.w3c_validator-report tr.error .page-icon {
  background-image: url(../images/error-icon.png);
}
.w3c_validator-report tr.warning .page-icon {
  background-image: url(../images/warning-icon.png);
}
.w3c_validator-report tr.status .page-icon {
  background-image: url(../images/valid-icon.png);
}
#w3c-validator-site-validation-report-page .w3c_analysis-results .summary-table tr {
  line-height: 5px;
}
.w3c_analysis-results .message-wrapper .source {
  color: #000000;
  background-color: #EAEBEE;
  font-family: "Bitstream Vera Sans Mono", monospace;
  font-size: small;
  margin-top: 5px;
}

.w3c_analysis-results .message-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #EAEBEE;
  list-style-position: inside;
  padding: 0.7em;
  clear: both;
  margin-bottom: 5px;
}
.w3c_analysis-results .message-wrapper .page-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-color: red;
}

.w3c_analysis-results .message-wrapper .where {
    font-style: italic;
}
.w3c_analysis-results .message-wrapper .descr {
    font-weight: bold;
}

.w3c_analysis-results .message-wrapper .source strong {
  color: #FF0000;
  padding-left: .5ex;
  padding-right: .5ex;
  font-weight: bolder;
  border-bottom: 1px dotted red;
}

table.w3c_validator-report tr.even,
table.w3c_validator-report tr.odd {
  border: 1px solid #bebfb9;
}
table.w3c_validator-report tr.unknown {
  background-color: #C4C4BD;
}
table.w3c_validator-report tr.status {
  background-color: #F8FFF0;
}
.fieldset-wrapper.w3c_analysis-results {
  margin-top: 15px;
}